@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  html {
    scroll-behavior: smooth;
  }


  ::-webkit-scrollbar {
    width: 14px;
    background: #232323;
  }

  ::-webkit-scrollbar-thumb {
    background: #424242;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #525252;

  }

  ::-webkit-scrollbar-track {
    width: 12px;
  }

  body {
    background: #0D0D0F;
    font-family: 'Inter', sans-serif;
    font-stlye: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {

  .logo {
    letter-spacing: -0.03em;
  }

  .westLogo {
    background: linear-gradient(90deg, #CCBC2E 0%, #E29A2D 59.9%, #FF943E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .westBg {
    background: linear-gradient(90deg, #A59822 0%, #B87C23 46.87%, #C4622B 100%);
  }

  .westLink {
    @apply text-westLink
  }

  .spaceLogo {
    background: linear-gradient(90deg, #779DFF 0%, #826DFF 59.9%, #916AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .spaceBg {
    background: linear-gradient(90deg, #4564B5 0%, #4643CC 59.9%, #673FD7 100%);
  }

  .spaceLink {
    @apply text-spaceLink
  }

  .greenLogo {
    background: linear-gradient(90deg, #2ECC63 0%, #2ECC87 59.9%, #2ECCBC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }


  .greenBg {
    background: linear-gradient(90deg, #219D50 0%, #229E6A 59.9%, #209286 100%);
  }

  .greenLink {
    @apply text-greenLink
  }

  .button-sm {
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    transition: 0.2s all;
  }

  .button-sm:hover {
    color: rgba(255, 255, 255, 0.8);

  }

  .button-md {
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    padding: 9px 24px;
    color: rgba(255, 255, 255, 1);
    transition: 0.2s all;
  }

  .button-md:hover {
    color: rgba(255, 255, 255, 0.8);

  }

  .line-p {
    line-height: 1.6;
  }

  .little-logo {
    visibiliy: hidden;
    opacity: 0;
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
    transition: .2s all;
    transition-delay: .1s;
    font-weight: 400;
  }

  .model-content:hover .little-logo {
    transition-delay: 0.3s;
    visibiliy: visible;
    opacity: 1;

  }
}